# Basics
alias cls=clear
alias nv="/usr/bin/nvim.appimage"
alias td="nv $HOME/Dropbox/Notes_vault/todo.md"
alias rng=ranger
alias nt=xournalpp
alias t="cd $HOME/social/twitter/edibo/ && envac && rainbowstream"
alias radio=tera
alias open=xdg-open
alias mic=arecord
alias lls=logo-ls
alias wallg="$HOME/scripts/wallpapers.sh"
alias slp="sudo pm-suspend"

# Development
alias srv="live-server" # runs npm server on index.html
alias bitsy="cd /home/edibotopic/Dev/bitsy-savior/ && npm start && cd ~"
alias tw="$HOME/Software/tweego-2.1.1-linux-x64/tweego"

# Text rendering
alias slides="~/go/bin/slides"
alias glow="~/Software/glow/glow"
alias cook="~/Software/CookCLI_0.1.4_linux_amd64/cook"

# Documents
alias allpdf="libreoffice --headless --convert-to pdf *.docx" 

# Scripts TODO move to .zshrc
export PATH="$HOME/scripts/:$PATH"

# Python helpers
alias py=python3
alias python=python3
alias envmk="py -m venv env"
alias envac="source ./env/bin/activate"
alias deac=deactivate

# Quarto books
alias qp="quarto preview"
alias qr="quarto render"

# Orca env 
alias orca="cd /home/edibotopic/Software/100rabbits/Orca/desktop/ && npm start && cd ~"
alias orca-c="/home/edibotopic/Software/100rabbits/Orca-c/build/orca"
alias cst="/home/edibotopic/Software/100rabbits/cassetter-0.1.1.AppImage"
alias pilot="cd /home/edibotopic/Software/100rabbits/Pilot/desktop/ && npm start"

# Games
alias u7=exult
