# Basics
alias ~='cd ~'
alias cls=clear
alias rng=ranger
alias nt=xournalpp
alias radio=tera
alias open=xdg-open
alias mic=arecord
alias sc=sc-im
alias kbd='setxkbmap -layout us' # (re)set keyboard layout to us
alias em='emacs -nw' # terminal emacs
alias wallg='$HOME/scripts/wallpapers.sh' # gnome only
alias slp='sudo pm-suspend'
alias pk='pkill picom || picom -b --experimental-backends &' # xorg only
alias br='brightness-controller'
alias cl='journalctl --vacuum-time=10d' # clear recent logs

# (Neo)Vim
alias nv='$HOME/scripts/nvk.sh' # default kickstart nvim config
alias n0='$HOME/scripts/nv0.sh' # minimal kickstart nvim config
alias nf='nv $(fzf)' # fuzzy find and open in nvim
alias scratch='nv $HOME/Dropbox/notes/scratch.md' # scratch notes
alias n='nv $HOME/Dropbox/notes/index.md' # notes index
alias wrk='nv $HOME/Dropbox/notes/work/index.md' # work notes (non-confidential)
alias til='nv $HOME/Dropbox/notes/til/index.md' # today-i-learned
# Git
alias qi='nv $HOME/Dropbox/quick/ideas/index.md' # quick ideas
alias lg='lazygit'
alias gr='cd $(git rev-parse --show-toplevel)'

# Development
alias dev='cd $HOME/dev/gh && lls'
alias srv='live-server'
alias bitsy='$HOME/software/bitsy-savior-linux-64/bitsy-savior'
alias bitsyn='cd /home/edibotopic/Dev/bitsy-savior/ && npm start && cd ~'
alias tw='$HOME/software/tweego-2.1.1-linux-x64/tweego'
alias p8='$HOME/software/pico-8_0.2.4c_amd64/pico-8/pico8'
alias vx='$HOME/software/voxatron_0.3.6_amd64/voxatron/vox'
alias gd3='$HOME/software/Godot/Godot_v3.4.4-stable_x11.64'
alias gd4='$HOME/software/Godot/Godot_v4.0-alpha6_linux.64'
alias blnd='$HOME/software/BlenderLauncher'
alias xe='/home/edibotopic/software/xmlmind/bin/xxe'
alias process='$HOME/scripts/process.sh'
alias love='/usr/bin/love.AppImage'
alias defold='$HOME/software/Defold/Defold'

# Text rendering
alias glow='~/software/glow/glow'
alias cook='~/software/CookCLI_0.1.4_linux_amd64/cook'

# Documents
alias doc2pdf='libreoffice --headless --convert-to pdf *.doc' # convert all Word doc files to pdf
alias docx2pdf='libreoffice --headless --convert-to pdf *.docx' # convert all Word docs to pdf
alias odt2pdf='libreoffice --headless --convert-to pdf *.odt' # convert all .odt docs to pdf
alias ppt2pdf='libreoffice --headless --convert-to pdf *.pptx' # convert all .odt docs to pdf
alias foxit='/home/edibotopic/opt/foxitsoftware/foxitreader/FoxitReader'
alias xr='/home/edibotopic/software/dita-ot/bin/dita' # tool to convert xml source to docs

# Python
alias py=python3
alias python=python3
alias envmk='py -m venv env'
alias envac='source ./env/bin/activate'
alias deac=deactivate

# Quarto
alias qp='quarto preview'
alias qr='quarto render'

# Orca env 
alias orca='cd /home/edibotopic/software/100rabbits/Orca/desktop/ && npm start && cd ~'
alias orca-c='/home/edibotopic/software/100rabbits/Orca-c/build/orca'
alias cst='/home/edibotopic/software/100rabbits/cassetter-0.1.1.AppImage'
alias pilot='cd /home/edibotopic/software/100rabbits/Pilot/desktop/ && npm start'

# Wacom
alias sx='source $HOME/.xinitrc' # sets buttons for Wacom pen
alias wacompc='source $HOME/scripts/wacom-multimon.sh' # restricts to 180p screen for dual monitor setup

# Games
alias u7=exult

# Data
alias weather='curl wttr.in/Cork'

# Reading
alias rss='newsboat'

# Fun
# alias trippy='kitty +kitten icat --align left ~/Dropbox/Notes_vault/Loops/double150.gif'
# alias trippies='kitty +kitten icat --align left ~/Dropbox/Notes_vault/Loops/ | sort -R | head -1'
# alias trippy='kitty +kitten icat --align left ls ~/Dropbox/Notes_vault/Loops/ | shuf -n1'

